.default-box {
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    box-sizing: border-box; 
}

.column-box {
    flex-direction: column;
}

.secondary-box {
    background-color: #e0e0e0;
    /* background-color: rgba(255,255,255, 0.13); */
    color: #2f2d6a;
}

.category-box {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    height: auto; 
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .default-box {
        flex-direction: column;
        width: 100%!important;
        padding: 0.5rem;
    }

    .category-box {
        height: auto; 
        margin-bottom: 1.5rem; 
    }   
    
    .form-container{
        min-width: 280px!important;
    }

   .form-info {
       max-height: 380px;
       overflow: auto;
   }

    .form-element {
        margin-bottom: 12px;
        width: 100%;
    }
    
    .form-element:nth-child(2n) {
        justify-content: space-between;
    }

}

@media (max-width: 480px) {
    .default-box {
        padding: 0.3rem;
        width: 100%;
    }

    .category-box {
        height: auto; 
        margin-bottom: 0.4rem; 
        margin-top: 1rem;
    }
}

.form-container{
    width: 100%;
    max-width: 650px;
    border-radius: 1rem;
        padding: 1rem;
        outline: none;
        box-sizing: border-box;
}

.form-info {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.form-element{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 0;
    margin-bottom: 0.5rem;
    /* gap:0.5rem */
}

.form-element:nth-child(2n){
    justify-content: end;
}

.form-element label {
    width: 95%;
}

.form-element input {
    height: 40px;
    width: 95%;
    outline: none;
    margin: 0;
}


