@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}

:root{
  --main-bg: linear-gradient(135deg, #000000, #030058);
  --card-bg: rgba(255,255,255, 0.1);
  --primary-font-colour:#f1f1f1;
  --secondary-font-colour:#2f2d6a;
  --invalid-input-colour: #fc2b2b;
  --primary-button-bg: #1d41b9;
  --primary-button-hover-bg: #2f2d6a;
  --secondary-button-bg: #e0e0e0;
  --secondary-button-hover-bg: #c9c9c9;
  --secondary-button-text-colour: #1d1d1d;  
  --placeholder-colour: rgba(255, 255, 255, 0.5);
  --lilac: #8783f1;
  --lilac-hover: #a8a4f2;
}

#root {
  min-height: 100vh;
  background: var(--main-bg);
}


body {
  /* background: linear-gradient(135deg, #000000, #030058);  */
  font-family: 'Poppins', sans-serif; 
  color: var(--primary-font-colour);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flx {
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; 
  margin: 0;
}

p {
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 1rem 0;
}

.ant-modal{
  top: 40px;
}

.custom-modal .ant-modal-content{
    background-color: #100f36;
    color: #bdc9d4;
}

.custom-modal .ant-modal-header {
    background-color: #100f36;
    
    border-bottom: 1px solid #8783f1;
}

.custom-modal .ant-modal-title,.custom-modal .ant-modal-close {
    color: #bdc9d4;
}

.custom-modal .ant-modal-close:hover {
    color: #bdc9d4;
}

/* /////////////////////////////////// */

.ant-input-outlined, .ant-input-outlined:hover , .ant-input-outlined:focus, 
.ant-input-number-outlined,
.ant-input-number-outlined:hover,
.ant-input-number-input {
  background: var(--card-bg);
  border: none;
  color: var(--primary-font-colour)! important;
  width: 100%;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled),
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover,
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):focus
{
  background-color: var(--card-bg);
}


.ant-form-item .ant-form-item-label > label {
  color: var(--primary-font-colour);
}

.ant-btn-default{
  background-color: transparent;
  color: var(--primary-font-colour);
  border: none;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--card-bg);
    color: var(--primary-font-colour);
}

.ant-btn-primary {
  background-color: var(--lilac);
  color: var(--primary-font-colour);
  border: none;
}

.ant-btn-primary:disabled{
  background-color: var(--card-bg);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: var(--lilac-hover);
  color: var(--primary-font-colour);
}



@media (min-width: 1920px) {
  body {
    font-size: 18px; 
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  body {
    font-size: 16px; 
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  body {
    font-size: 14px; 
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.15rem;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px; 
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1rem;
  }
}

.no-favorite {
  color: #c9c9c9 !important;
  
}

.favorite {
  color: #1d1d1d !important;
}

.search-header > select {
  z-index: 0 !important;
}

.category-box > button {
  z-index: 0 !important;
}